@using SFA.DAS.RoatpGateway.Domain;
@model SFA.DAS.RoatpGateway.Web.ViewModels.RoatpGatewayApplicationViewModel

@{
    var sections = Model.Sequences?.SelectMany(seq => seq.Sections);
    var hasSectionWithClarficiation = sections?.Any(sec => sec.Status == SectionReviewStatus.Clarification) ?? false;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Application actions</h2>

        <p class="govuk-body">
            @if (Model.ReadyToConfirm && hasSectionWithClarficiation)
            {
                @* TODO: Not sure this is the right page. Need to re-assess this once Clarification is implemented fully*@
                <a class="govuk-link govuk-link--no-visited-state" asp-controller="RoatpGateway" asp-action="ConfirmOutcome" asp-route-applicationId="@Model.ApplicationId" asp-route-gatewayReviewStatus="@GatewayReviewStatus.ClarificationSent" >Ask for clarification</a>
            }
            <span class="das-task-list__task-name--inactive">Ask for clarification</span>
        </p>
        <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state"  asp-controller="RoatpGateway" asp-action="RemoveApplication" asp-route-applicationId="@Model.ApplicationId">Internal removal of application</a>
        </p>
        <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state"  asp-controller="RoatpGateway" asp-action="WithdrawApplication" asp-route-applicationId="@Model.ApplicationId">Applicant withdrawal of application</a>
        </p>
    </div>
</div>