@using SFA.DAS.RoatpGateway.Domain;
@model SFA.DAS.RoatpGateway.Web.ViewModels.RoatpGatewayApplicationViewModel



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="das-actions-box">
            <h2 class="govuk-heading-m">Application actions</h2>

            <p class="govuk-body govuk-body govuk-!-margin-bottom-1">
                @if (Model.IsClarificationsSelectedAndAllFieldsSet && !Model.HasOversightOutcome && Model.GatewayReviewStatus != GatewayReviewStatus.ClarificationSent)
                {
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="RoatpGateway" asp-action="AskForClarification" asp-route-applicationId="@Model.ApplicationId" asp-route-gatewayReviewStatus="@GatewayReviewStatus.ClarificationSent">Ask for clarification</a>
                }
                else
                {
                    <span class="das-!-color-dark-grey">Ask for clarification</span>
                }
            </p>
            <p class="govuk-body govuk-!-margin-bottom-1">
                @if (!Model.HasOversightOutcome && Model.ApplicationStatus != ApplicationStatus.Withdrawn && Model.ApplicationStatus != ApplicationStatus.Removed)
                {
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="RoatpGatewayApplicationActions" asp-action="RemoveApplication" asp-route-applicationId="@Model.ApplicationId">Internal removal of application</a>
                }
                else
                {
                    <span class="das-!-color-dark-grey">Internal removal of application</span>
                }
            </p>
            <p class="govuk-body govuk-!-margin-bottom-0">
                @if (!Model.HasOversightOutcome && Model.ApplicationStatus != ApplicationStatus.Withdrawn && Model.ApplicationStatus != ApplicationStatus.Removed)
                {
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="RoatpGatewayApplicationActions" asp-action="WithdrawApplication" asp-route-applicationId="@Model.ApplicationId">Applicant withdrawal of application</a>
                }
                else
                {
                    <span class="das-!-color-dark-grey">Applicant withdrawal of application</span>
                }
            </p>

        </div>
    </div>
</div>