@using SFA.DAS.RoatpGateway.Domain;
@model SFA.DAS.RoatpGateway.Web.ViewModels.RoatpGatewayPageViewModel

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a asp-controller="Dashboard" asp-action="Index" class="govuk-breadcrumbs__link">RoATP dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            @if (Model.GatewayReviewStatus == GatewayReviewStatus.New)
            {
                <a asp-controller="RoatpGateway" asp-action="NewApplications" class="govuk-breadcrumbs__link">RoATP gateway applications</a>
            }
            else if (Model.GatewayReviewStatus == GatewayReviewStatus.InProgress)
            {
                <a asp-controller="RoatpGateway" asp-action="InProgressApplications" class="govuk-breadcrumbs__link">RoATP gateway applications</a>
            }
            else if (Model.GatewayReviewStatus == GatewayReviewStatus.ClarificationSent)
            {
                @* TODO : Future Work - Put correct dashboard link in for when Clarification has been sent *@
                <a asp-controller="RoatpGateway" asp-action="ClosedApplications" class="govuk-breadcrumbs__link">RoATP gateway applications</a>
            }
            else
            {
                <a asp-controller="RoatpGateway" asp-action="ClosedApplications" class="govuk-breadcrumbs__link">RoATP gateway applications</a>
            }
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a asp-controller="RoatpGateway" asp-action="ViewApplication" asp-route-applicationId="@Model.ApplicationId" class="govuk-breadcrumbs__link">
                @{
                    switch (Model.GatewayReviewStatus)
                    {
                        case GatewayReviewStatus.Pass:
                        case GatewayReviewStatus.Fail:
                            <text>Gateway outcome overview</text>
                            break;
                        default:
                            <text>Application assessment overview</text>
                            break;
                    }
                }
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">@Model.Caption</li>
    </ol>
</div>