@using SFA.DAS.AdminService.Common.Extensions;
@using SFA.DAS.RoatpGateway.Domain;
@model SFA.DAS.RoatpGateway.Web.ViewModels.OneInTwelveMonthsViewModel

@{
    ViewBag.Title = $"Gateway - {Model.Heading}";
    Layout = "_Layout";
}

@{await Html.RenderPartialAsync("~/Views/Gateway/Pages/_GatewayAssessmentBreadcrumb.cshtml"); }
<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @{await Html.RenderPartialAsync("~/Views/Gateway/Pages/_GatewayApprovalValidationSummary.cshtml"); }
            @{await Html.RenderPartialAsync("~/Views/Gateway/Pages/_GatewayHeader.cshtml"); }
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table govuk-!-margin-bottom-9">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Application question</th>
                        <th class="govuk-table__header" scope="col">Applicant's answer</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Have you had an unsuccessful application in the last 12 months?</td>
                        <td class="govuk-table__cell">
                            @Model.SubmittedOneInTwelveMonths
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @if (Model.GatewayReviewStatus == GatewayReviewStatus.New || Model.GatewayReviewStatus == GatewayReviewStatus.InProgress || Model.GatewayReviewStatus == GatewayReviewStatus.ClarificationSent)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="js-disable-on-submit" asp-action="EvaluateOneInTwelveMonthsPage" asp-controller="RoatpGatewayOrganisationChecks">
                    <partial name="~/Views/Gateway/Pages/_GatewayApprovalSection.cshtml" />
                    <button class="govuk-button" type="submit">Save and continue</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <partial name="~/Views/Gateway/Pages/_GatewayCheckOutcome.cshtml" />
    }
</main>